*{
    margin: 0; padding:0; box-sizing: 0;
}
*::after,
*::before{
    margin: 0; padding: 0; box-sizing: 0;
}
ul, ol, li{
    list-style: none;
}
a{
    text-decoration: none; color: #333;
}

.inner{width: 1170px; margin: 0 auto; font-size: 16px;}

.header{
    width: 100%; background-color: white;
}
.header .inner{
    height: 80px;display: flex; justify-content: space-between; align-items: center;
}

.header .logo a{
    font: bold 34px '맑은 고딕';
}

/*header*/

.gnb{
    display: flex;
}

.gnb > li > a{
    display: block; padding: 0 30px; text-align: center; line-height: 50px;
}

.gnb2{
    display: flex;
}

.gnb2 > li > a{
    display: block; padding: 0 60px; font: bold 18px 'inherit';
}

.visual {
    width: 100%; height: 120px; background-color: lightblue;
}
.visual .inner{
    height: 120px;display: flex; justify-content: space-between; align-items: center;
} 

/* Footer */
.footer {
    position: relative;
    width: 100%;
    min-height: 250px;
    margin-top: 200px;
    text-align: left;
    background-color: #222426
}

.footer .nav {
    padding: 31px 96px 0 40px;
}

.footer .nav li {
    display: inline-block;
    font-size : 10px;
}

.footer .nav li:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 2px 12px 0;
    background-color: hsla(0,0%,100%,.2)
}

.footer .nav li:last-child:after {
    display: none
}

.footer .nav a {
    color: rgba(248,249,250,.7);
    letter-spacing: -.3px
}

.footer .nav a:hover {
    color: #07f
}

.footer .nav .privacy {
    font-weight: 700
}

.footer .nav+.nav {
    padding: 14px 96px 13px 40px
}

.footer .address {
    padding: 16px 96px 0 40px;
    color: rgba(248,249,250,.3);
    font-size: 11px;
    line-height: 17px;
    letter-spacing: -.3px
}

.footer .address span {
    white-space: nowrap
}

.footer .address a {
    color: rgba(248,249,250,.3);
    text-decoration: underline
}

.footer .address a:hover {
    color: #07f
}

.footer .copyright {
    padding: 0 0 0 40px;
    color: rgba(248,249,250,.3);
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -.3px
}
/* Footer 끝 */

/* 마이페이지 메인 화면 구성 */
.title {text-align: center; padding: 30px;}

.service .inner{display: flex; margin: 0 auto; padding: 10px;}
.service .box{width: 300px;  height:90px; margin: 0 auto; padding: 40px; align-items: center; display: flex; background-color: whitesmoke;}
.service .box .pic{width: 100px; text-align: left;}
.service .box .info{padding:20px; padding-left: 50px;}

.service_title{font:bold; font-size: 20px; text-align: left; font-weight: 900;}
.info > li > a{font:bold; text-align: left; font-weight: 550;}
.info > li >a:hover{color:blue}

/*이메일 변경*/
form {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type=text], input[type=email], select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button{
    
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #555;
}

.logo2{font-size: 20px; 
    font-weight: bold;
    background-color: #f2f2f2;
    text-align: center; 
    margin-bottom: 0px; 
    margin-top: 20px;
    border-style: solid; 
    max-width: 635px;
    margin:20px auto;
    }